.card-list {
	padding-left: 17px !important;
    padding-right: 17px !important;
    padding-top: 10px !important;
}

.card-list .card {
	margin-bottom: 65px;
}

#recomendados .card-list .card {
	margin-bottom: 30px !important;
}

.cover-prev {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cover-prev img {
    height: 50px !important;
    margin-top: 3px !important;
    left: 10px;
}

.show {
	display: flex;
	opacity: 1;
}
.hide {
	display: none;
	opacity: 0;
}

.blur {
    filter: blur(1.2px);
    -webkit-filter: blur(1.2px);
}

#content {
	padding-top: 103px !important; 
}

.button-search {
	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}